# Database Config
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=system_monitoring

# AI Configuration
GEMINI_API_KEY=your_google_gemini_api_key_here

# Orchestration Mode (docker OR kubernetes)
ORCHESTRATOR=docker
POSTGRES_HOST=db