apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce # Only one pod can access this volume at a time
  resources:
    requests:
      storage: 500Mi